.checkbox_container {
  height: 1.1rem;
  width: 1.1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--blue-300);
  border-radius: 50%;
  background: inherit;
  outline: none;

  cursor: pointer;
}

.checkbox_container:focus,
.checkbox_container:hover {
  border-color: var(--blue-600);
}

.checkbox_container_selected {
  border: 2px solid var(--purple-600);
  background: var(--purple-600);
}

.checkbox_container_selected:focus,
.checkbox_container_selected:hover {
  border-color: var(--purple-300) !important;
  background: var(--purple-300) !important;
}
